@import "tailwindcss";

@theme {
  --color-brand-gold: #fcb81d;
  --color-brand-dark: #11171c;
  --color-brand-white: #fefefe;
  
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  body {
    @apply bg-brand-dark text-brand-white font-sans;
  }
}
